.events-banner {
    a, span {
        font-weight: 700;
        color:#950EA0;
        text-decoration: none;
    }
    span {
        text-transform: uppercase;
    }
}

.event-group {
    background: #fff;
    color:#21004d;
    padding: 2rem;
    margin: 1rem auto;
    border-radius: 8px;
    box-shadow: 4px 20px 9px rgba(0, 0, 0, 0.25);
    h2, h3 {
        margin-top: 0;
    }
    p {
        max-width: 700px;
        margin: 1rem auto;
    }
}

.event-item {
    width:350px;
    display: inline-flex;
    border-radius: 8px;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
    }
}

.img-crop240 {
    height: 240px;
    overflow: hidden;
}

.img-crop425 {
    height: 425px;
    overflow: hidden;
}

.img-crop452 {
    height: 452px;
    overflow: hidden;
}

@media (max-width: 600px) {
  .event-item {
    width: auto;
  }
  .img-crop240, .img-crop425, .img-crop452 {
    height: 100%;
  }
  .event-item img {
    border-radius: 8px;
  }
}